---
import BaseTemplate from "../../templates/BaseTemplate.astro"
---

<BaseTemplate title="Ayushman's Blog">

	<meta name="description" content="The blogs about the shenanigans I do as a full-stack web developer, cybersecurity enthusiaist and a curious soul" slot="meta-tags">

	<div class="base">
        <h1>Blog Posts</h1>
        <p>The blog posts here are about the things I learn and find interesting, they are more like personal notebook open to public!</p>
	</div>

</BaseTemplate>
