---
import BaseTemplate from "../templates/BaseTemplate.astro";
---

<BaseTemplate title="Portfolio : Ayushman Bilas Thakur">
  <meta name="robots" content="noindex" slot="meta-tags" />

  <div class="base">
    <div class="wrap">
      <h1>Sorry! This content is not available</h1>
      <p>Return to <a href="/">homepage?</a></p>
    </div>
  </div>
</BaseTemplate>

<style>
  .base {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    flex-grow: 1;
  }
</style>
