---
import BaseTemplate from "../templates/BaseTemplate.astro"
import TopCard from "../components/TopCard.astro"
import Technologies from "../components/Technologies.astro";
import Internships from "../components/Internships.astro";
import OtherExperiences from "../components/OtherExperiences.astro";
import Projects from "../components/Projects.astro";
---

<BaseTemplate title="Portfolio : Ayushman Bilas Thakur">

	<meta name="description" content="This is the portfolio of a full-stack web developer - Ayushman Bilas Thakur" slot="meta-tags">

	<TopCard />
	<div class="about">
		<h2>Who am I?</h2>
		<p>Teacher, leraner, Web Development and cybersecurity enthusiaist efficient with technologies like <b>React.js</b>, <b>Typescript, Javascript</b>, <b>HTML5</b>, <b>CSS3</b> and many others. Also interested in game development.
		</p>
		<p>After completing masters in computer science from Arizona State University on Spring 2024 I a currently working as an assistant professor at Adamas University, India</p>
		<p>Other than teaching, web development and cybersecurity I also have interest in game development.</p>
		<br />

		<p>
			<h2>Things I love doing</h2> 

			<ul class="sliding-skills">
				
				<li>Teaching/Instructing</li>
				<li>Full-stack web development</li>
				<li>Gaming</li>
				<li>Game Development</li>
			</ul>
		</p>
	</div>

	<Technologies />
	
	<OtherExperiences />

	
	<Internships />


	<Projects />

</BaseTemplate>


<style is:global>	
	.sliding-skills {
    	display: flex;
    	flex-wrap: wrap;
    	gap: 10px;
	}

	/* .light .sliding-skills li {
		border: 2px solid black;
	} */


	.sliding-skills li{
		position: relative;
		list-style: none;
		background-color: var(--highlight);
		color: var(--highlight-contrast);
		padding: 3px 15px;
		border-radius: 20px;
		transform-origin:left;
		transition: transform 0.1s ease;
	}
</style>