---
import BaseTemplate from "../templates/BaseTemplate.astro"
import TopCard from "../components/TopCard.astro"
import Technologies from "../components/Technologies.astro";
import Internships from "../components/Internships.astro";
import OtherExperiences from "../components/OtherExperiences.astro";
import Projects from "../components/Projects.astro";
---

<BaseTemplate title="Portfolio : Ayushman Bilas Thakur">

	<meta name="description" content="This is the portfolio of a full-stack web developer - Ayushman Bilas Thakur" slot="meta-tags">

	<TopCard />
	<div class="about">
		<h2>Who am I?</h2>
		<p>I’m a computer science educator with a Master's in Cybersecurity and a strong interest in full-stack development, privacy, and practical technology education. I enjoy building clean, effective web applications and helping students bridge the gap between theory and real-world skills.</p>
		<p>
			Outside of teaching, I like experimenting with small indie games — usually lightweight, code-driven projects built for fun and learning. It's a space where I get to blend creativity with logic and explore new ideas through interactive experiences.
		</p>
		<br />
	</div>

	<Technologies />
	
	<OtherExperiences />

	
	<Internships />


	<Projects />

</BaseTemplate>


<style is:global>	
	.sliding-skills {
    	display: flex;
    	flex-wrap: wrap;
    	gap: 10px;
	}

	/* .light .sliding-skills li {
		border: 2px solid black;
	} */


	.sliding-skills li{
		position: relative;
		list-style: none;
		background-color: var(--highlight);
		color: var(--highlight-contrast);
		padding: 3px 15px;
		border-radius: 20px;
		transform-origin:left;
		transition: transform 0.1s ease;
	}
</style>
