---
import ProjectCard from "./ProjectCard.astro";

import pomotimer_1 from "../images/pomotimer_1.png";
import pomotimer_2 from "../images/pomotimer_2.png";

import otp_game_1 from "../images/otp_game_1.png";
import otp_game_2 from "../images/otp_game_2.png";
import otp_game_3 from "../images/otp_game_3.png";

import expense_tracker_1 from "../images/expense_tracker_1.png";
import expense_tracker_2 from "../images/expense_tracker_2.png";

import odd_n_even_1 from "../images/odd_n_even_1.png";
import odd_n_even_2 from "../images/odd_n_even_2.png";
import odd_n_even_3 from "../images/odd_n_even_3.png";

import useful_sites_1 from "../images/useful_sites_1.png";
import useful_sites_2 from "../images/useful_sites_2.png";

import resturant_app from "../images/resturant_app.png";


const projects = [
    {
        name: "Pomodoro Timer",
        description: `
        A Pomodoro timer based on <a href = "https://www.frontendmentor.io/challenges/pomodoro-app-KBFnycJ6G"> this design </a>
        Fully functional and written with HTML5, CSS3 and JavaScript
        In this project I got to try implementing a design instead of designing things myself.
        `,
        links: [
            {
                "name": "Github",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/pomodoro-timer"
            },
            {
                "name": "Live Version",
                "icon": "link",
                "link": "https://pmdrtimer.netlify.app/"
            }
        ],
        technologies: [
            {
                name: "HTML5",
                icon: "cib:html5"
            },
            {
                name: "CSS3",
                icon: "cib:css3"
            },
            {
                name: "JavaScript",
                icon: "cib:javascript"
            }
        ],
        images: [pomotimer_1, pomotimer_2]
    },
    {
        name: "The OTP Game",
        description: `A simple browser game made with react where you have to enter the OTP shown within time to get the high score`,
        links: [
            {
                "name": "Github",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/otp-game"
            },
            {
                "name": "Live Version",
                "icon": "link",
                "link": "https://theotpgame.netlify.app/"
            }
        ],
        technologies: [
            {
                name: "React",
                icon: "cib:react"
            },
            {
                name: "TypeScript",
                icon: "cib:typescript"
            }
        ],
        images: [otp_game_1, otp_game_2, otp_game_3]
    },
    {
        name: "Expense Tracker",
        description: `
        An expense tracker made with Vanilla HTML CSS and Javascript, explains my skills with the fundamental HTML, CSS and JavaScript. Has an youtube video explaining my design and development procedure
        `,
        links: [
            {
                "name": "Github",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/expense_tracker"
            },
            {
                "name": "Live Version",
                "icon": "link",
                "link": "https://transaction-list.netlify.app/"
            },
            {
                "name": "YouTube",
                "icon": "youtube",
                "link": "https://youtu.be/ERdFH7cUCdQ"
            }
        ],
        technologies: [
            {
                name: "HTML5",
                icon: "cib:html5"
            },
            {
                name: "CSS3",
                icon: "cib:css3"
            },
            {
                name: "JavaScript",
                icon: "cib:javascript"
            }
        ],
        images: [expense_tracker_1, expense_tracker_2]
    },
    {
        name: "Odd n Even",
        description: `
        A minmal game, made using just HTML,CSS and JavaScript. With challenges like swipe to add score, storing high score on localstorag, keeping socres this was a really challenging project
        `,
        links: [
            {
                "name": "Github",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/Odd_N_Even"
            },
            {
                "name": "Live Version",
                "icon": "link",
                "link": "https://oddneven.netlify.app/"
            }
        ],
        technologies: [
            {
                name: "HTML5",
                icon: "cib:html5"
            },
            {
                name: "CSS3",
                icon: "cib:css3"
            },
            {
                name: "JavaScript",
                icon: "cib:javascript"
            }
        ],
        images: [odd_n_even_1, odd_n_even_2,  odd_n_even_3]
    },
    {
        name: "Useful Sites",
        description: `
        A MERN Stack based application where people can share a common list of useful URLs. The backend may take some time to boot up.
        `,
        links: [
            {
                "name": "Backend Code",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/useful_sites_backend"
            },
            {
                "name": "Frontend Code",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/useful_sites_frontend"
            },
            {
                "name": "Live Version",
                "icon": "link",
                "link": "https://useful-sites.netlify.app/"
            }
        ],
        technologies: [
            {
                name: "React",
                icon: "cib:react"
            },
            {
                name: "Express.js",
                icon: "mdi:nodejs"
            },
            {
                name: "JavaScript",
                icon: "cib:mongodb"
            }
        ],
        images: [useful_sites_1, useful_sites_2]
    },
    {
        name: "Resturant App",
        description: `
        Built with neDB, express and vue.js this is a prototype of a restutant menu being dynamically fetched from backend and price shown in frontend. p.s.: The backend takes some time to load so please be patient in the site
        `,
        links: [
            {
                "name": "Backend Code",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/restaurant_app_backend"
            },
            {
                "name": "Frontend Code",
                "icon": "github",
                "link": "https://github.com/ayushmanbt/restaurant_menu_frontend"
            },
            {
                "name": "Live Version",
                "icon": "link",
                "link": "https://restaurant-app-frontend.netlify.app/"
            }
        ],
        technologies: [
        {
                name: "Vue",
                icon: "mdi:vuejs"
            },
            {
                name: "Express.js",
                icon: "mdi:nodejs"
            },
            {
                name: "JavaScript",
                icon: "cib:mongodb"
            }
        ],
        images: [resturant_app]
    }

]

---


<h3 class="mb-3">My Projects</h3>

<div class="project_container">
    {
        projects.map(project => 
            <ProjectCard 
                project={project}
            />
        )
    }
</div>



<style>
    .project_container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 800px){
        .project_container{
            grid-template-columns: 1fr;
        }
    }
</style>