---
import UsefulLinks from "./UsefulLinks.astro"
---

<div class="top-part">
    <div class="right">
		<h1 id="myname">Ayushman Bilas Thakur</h1>
		
        <p>Full Stack Web developer, Cybersecurity enthusiast, Looking for a full-time role</p>

        <UsefulLinks />
        
    </div>

    <div class="buttons">
		<a href="/blog" class="outline">View Blog</a>
        <a href="./Ayushman Bilas Thakur.pdf" target="_blank" class="button" >View Resume</a>
    </div>
</div>

<script src="../scripts/NameAnimation.ts" />

<style>
    .top-part{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		gap: 10px
	}

	.top-part .right{
	    width: 70%;
		flex: 2;
	}

	.top-part .right p{
		display: block;
		margin-top: 0.3em;
		margin-bottom: 0.5em;
	}


	@media (max-width: 768px){
		.top-part{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.top-part .right{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	.namebox{
		position: relative;
	}

	.buttons{
		display: flex;
		flex: 1;
		gap: 20px;
		justify-content: center;
		align-items: center;
	}

	.outline{
		text-decoration: none;
		display: block;
		background: none;
		border: 2px solid var(--highlight-contrast);
		padding: 10px 20px;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s ease;
		font-weight: bold;
	}

	.outline:hover{
		background-color: var(--highlight-contrast);
		color: var(--punch-contrast);
	}

	@media (max-width: 500px){
		.top-part .right{
			margin-bottom: 20px !important;
		}
		.top-part .right h1{
			font-size: 1.8rem;
		}

		.top-part .right p{
			font-size: 0.8rem;
		}
		.buttons{
			flex-direction: row;
		}
	}
</style>